<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Index Page!</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">About Me!</h1>
            <p class="text-center"><a href="/">Home</a> | <a href="projects">Projects</a> | <a
                    href="contact">Contact</a>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;">
                <div class="image"><img src="./img/person.png" class="" alt="Person" style="width: 100px;"></div>
                <div class="name">
                    <h2>Moose Phillips</h2>
                </div>
                <div class="faveQuote" style="font-italic">You cannot shake hands with a clenched fist!</div>
            </div>
            <div class="col-sm-8" style="background-color:lavenderblush;">
            <h1>Bio</h1>
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p style="text-center">Coding Dojo 2019</p>
    </footer>
</body>

</html>